<%- include('../../partials/header') %>

<body>
    <%- include('../../partials/navibar') %>
    <div class="container">
        <div class="card" style="padding: 20px;">
            <div class="card-header">
                <h2>Edição de categoria</h2>
            </div>
            <div class="card-body">
                <form method="POST" action="/categories/update">
                    <input type="text" name="title" id="" placeholder="Defina o titulo da categoria" class="form-control" value="<%= category.title %>"> <br>
                    <input type="hidden" name="id" value="<%= category.id %>">
                    <button class="btn btn-success">Atualizar</button>
                </form>
            </div>
        </div>
        
    </div>

</body>

<%- include('../../partials/footer') %>
